

.title-heading{
    text-align: center;
}

.home-slider .item {
    position: relative;
    padding-top: 45%;
}
.home-slider .item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.boats-image{
    position: relative;
    padding-top: 45%;
}
.boats-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
}